Jdbc/mybatis/MyBatis_Study/WebRoot/WEB-INF/wsdl/TestWebServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.com/" targetNamespace="http://ws.com/" version="1.0">

  <xs:element name="testWs" type="tns:testWs"/>

  <xs:element name="testWsResponse" type="tns:testWsResponse"/>

  <xs:complexType name="testWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="testWsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
